@import url("../../shared/css/variables.css");


.browse-listings {
  width: 100%;
  height: auto;
}

.browse-listings__flags {
  width: 100%;
  padding: calc(var(--paddingSize) / 4) calc(var(--paddingSize) * 3 / 4);
}

.browse-listings__content {
  width: 100%;
  height: auto;
}