@import url("../../shared/css/variables.css");


.browse-listings {
  width: 100%;
  height: auto;
}

.browse-listings__flags {
  width: 100%;
  padding: calc(var(--gutterSize) * 2) calc(var(--gutterSize) * 3) 0 calc(var(--gutterSize) * 3);
}

.browse-listings__content {
  width: 100%;
  height: auto;
}