@import url("../../shared/css/variables.css");


.grid-card-image {
  width: 100%;
  background-color: gray;
}

@define-mixin grid-card-image__wrapper {
  width: 100%;
  position: relative;
}

.grid-card-image__wrapper__square {
  @mixin grid-card-image__wrapper;
  padding-bottom: 100%; /* aspect ratio: square; */
}

.grid-card-image__wrapper__landscape {
  @mixin grid-card-image__wrapper;
  padding-bottom: calc(100% * 4/3); /* aspect ratio: square; */
}

.grid-card-image__wrapper__portrait {
  @mixin grid-card-image__wrapper;
  padding-bottom: calc(100% * 3/4); /* aspect ratio: square; */
}

.grid-card-image__content {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}