/* Common CSS */
/* Variables */

:root {
  --mainColor: #347F9E;
  --secondaryColor: red;
  --backgroundColor: white;
  --darkFontColor: black;

  --emphaSize: 24px;
  --pageTitleSize: 48px;

  --gutterSize: 0.625rem;
}
